<div class="idea-post">


  <div class="idea-wrap">
    <%= form_with model:@idea, url:ideas_path, local: true do |f| %>

    <div class="idea-new-logo">
      <%= link_to "新規投稿", "/" ,class:'new-title'%>
    </div>

      <%= render 'shared/error_orders', model: @idea, class:'error' %>

      <div class="new-top-content">
        <div class="new-form-group">
          <div class="new-form-title">
             <%= f.label :title%><br />
             <%= f.text_field :title, placeholder: "タイトル", class: "idea-field" %>
          </div>
        </div>
  
        <div class="new-form-group">
         <%= f.label :image %><br />
         <%= f.file_field :image%>
         <div class='image-preview-wrap' id="image-list"></div>
        </div>
      </div>




      <div class="new-form-group">
        <%= f.label :text%><br />
        <%= f.text_area :text, placeholder: "キャプション" , class: "idea-field-text" %>
      </div>

      <div class="new-form-group">
        <%= f.label :category_id %><br />
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"category-select"}) %>
      </div>



      <%= f.submit 'POST' , class: "new-btn"%>
    <% end %>

    <%= link_to 'トップページ', root_path, class:"new-root" %>
  </div>
</div>