<div class="idea-post">
  <div class="idea-wrap">
    <%= form_with model:@idea, url:ideas_path, local: true do |form| %>
      <%= form.text_field :title, placeholder: "タイトル"%>
      <%= form.text_field :copy, placeholder: "キャッチコピー" %>
      <%= form.text_field :text, placeholder: "アイデアの詳細" %>
      <%= form.collection_select(:category_id, Category.all, :id, :name, {}, {class:"category-select"}) %>
      <%= form.collection_select(:format_id, Format.all, :id, :name, {}, {class:"format-select})"}) %>
      <%= form.submit '投稿する' , class: "btn"%>
    <% end %>
  </div>
</div>