<div class="show-main">

  <header class="show-header">
    <%= link_to '←', :back, class: "back-page-btn"%>
    <div class="show-header-content">
      <div class="header-user-name">
        <%= link_to @idea.user.nickname, user_path(@idea.user.id) %>
      </div>
        <h1 class="show-title">詳細</h1>
    </div>
  </header>


  <div class="content-detail">

    <%= image_tag @idea.image, class: "show-item-img" %>

    <div class="idea-show-title">
      <%= @idea.title %>
    </div>

    <div class="idea-show-text">
      <%= simple_format(@idea.text) %>
    </div>


    <div class="idea-show-info-wrap">
      <div class="idea-show-info">
        <%= @idea.category.name %>
      </div>

      <div class="idea-show-info">
        <%= @idea.format.name %>
      </div>
    </div>

    <div class="container">
      <div class="comments">
        <h4 class="comment-title">＜commnts＞</h4>
        <% if @comments %>
          <% @comments.each do |comment| %>
            <p class='comment-content'>
              <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}", class:"comment-user" %>：</strong>
              <%= comment.text %><p>
              <% if (user_signed_in? && current_user.id == comment.user_id) || (user_signed_in? && comment.idea_id == @idea.id) %>
                <%= link_to '削除する', idea_comment_path(comment.idea.id, comment.id), method: :delete, class:'comment-delete'%>
              <% end %>
            </p>
          <% end %>
        <% end %>
      </div>

      <%= render 'shared/error_orders', model: @comment, class:'error' %>

      <% if user_signed_in? %>
        <%= form_with(model: [@idea, @comment], local: true) do |form| %>
          <%= form.text_area :text, placeholder: "コメントする", rows: "2" , class:'comment-form'%>
          <%= form.submit "SEND" , class:'comment-btn'%>
        <% end %>
      <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      <% end %>
      
    </div>

    <div class="show-btns">

    <% if user_signed_in? && current_user.id != @idea.user_id %>
      <%= link_to '投げ銭', idea_orders_path(@idea), class: 'idea-order-btn'%>
    <% end %>

    
    <% if user_signed_in? && current_user.id == @idea.user_id %>
      <%= link_to '編集する', edit_idea_path(@idea), class:'idea-edit-btn' %>
      <%= link_to '削除する', idea_path(@idea), method: :delete, class: 'idea-delete-btn' %>
    <% end %>
  
      <%= link_to 'TopPageへ戻る', root_path, class:'show-to-root'%>
    </div>
  </div>

</div>

















