<%= render "shared/header" %>

<div class='profile-main'>

  <h1 class='mypage-title'>Profile</h1>


  <div class='profile-wrap'>
    <p class="profile-name">
      <%= @user.nickname %>
    </p>
  </div>

  <div class='profile-wrap-info'>
      <p class="profile-info">
        <%= "駆け出しエンジニアです" %>
      </p>
  </div>

  


  <% if user_signed_in? && current_user.id == @user.id%>
    <%= link_to 'profileを編集する', edit_user_path(@user) %>
  <% end %>


</div>

<div class="users-content">
  <% @ideas.each do |idea| %>
    <div class="content_post" >
      <%= link_to(idea_path(idea.id)) do %>
        <%= image_tag idea.image, class:'idea-item-img'%>
      <% end %>
    </div>
  <% end %>
</div>