<div class='chat-main'>
  <header class='chat-header'>
    <div class="header-user-name">
      <h1 class='chat-titile'>ルーム参加者</h1>
      <% @entries.each do |e| %>
        <%= link_to(user_path(e.user.id)) do %>
          <div class="user-name">
          <%= e.user.nickname %>さん
        <% end %>
        </div>
      <% end %>
    </div>
  </header>



  <div class='chat'>
    <% if @messages.present? %>
      <% @messages.each do |m| %>
        <div class='space' data-id=<%= m.id %> >
          <div class='chat-name'>
            <%= m.user.nickname %>
          </div>
          <div class='chat-content'>
            <%= m.content %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="chat">
  </div>

  

  <div class='content-post'>
    <%= link_to 'topへ戻る', root_path, class:'show-root'%>
    <%= form_with model: [@room, @message], url: messages_path, class: 'form',id:"form", local: true do |f| %>
      <div class="form-input">
        <%= f.text_field :content, class: 'form-messages', id:"content", placeholder: 'メッセージを送る' %>
        <%= f.hidden_field :room_id, value: @room.id %>
      </div>
      <%= f.submit '送信', class:'form-submit', id: "submit" %>
    <% end %>
  </div>
</div>










